body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
.container
  margin-left auto
  margin-right auto
  margin-top 50px
  padding-top 20px
  width 400px
  border-radius 10px
  background-color #0ad
#nickname
  padding 10px
  margin-left auto
  margin-right auto
  .label
    margin-top 20px
    margin-bottom 20px
    text-align center
    color #fff
    font-size 24px
  .setNickname
    display block
    margin-left auto
    margin-right auto
    font-size 24px
    width 250px
  .nicknameButton
    display block
    margin-left auto
    margin-right auto
    margin-top 20px
    margin-bottom 20px
    width 50px
    font-size 24px
#messages
  margin-left auto
  margin-right auto
  margin-bottom 5px
  background-color #fff
  height 200px
  width 360px
  overflow scroll
a
  color: #00B7FF
#newmessage
  padding-left 20px
  padding-right 20px
  padding-top 5px
  padding-bottom 5px
  width 360px
#chatbox
  display none
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
